body{
    font-family: Helvetica, sans-serif;
}

.error{
    border: 1px solid red;
    padding: 5px;
    color: red;
}
.main{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
}
.form{
    padding: 20px;
    border: 1px solid black;
}